<% provide(:title, "Dash") %>

<h1>Realtime Dashboard</h1>
  <!-- Dash of the app -->
  <div class="row center">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Total Wankytimes:</div>
        <div class="panel-body">
          <span class="count"><%= Micropost.all.count %></span>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Total Wankyusers:</div>
        <div class="panel-body">
          <span class="count"><%= User.all.count %></span>
        </div>
      </div>
    </div>
    
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Wanky Map:</div>
        <div class="panel-body">
          <p></p><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Your map's coming soon!</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5363928.549073896!2d19.711913812499983!3d48.97051158461561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1478955558630" 
                  frameborder="0" class="map" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div> 
    
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Wanky Graph:</div>
        <div class="panel-body">
          <%= area_chart User.group_by_day( :created_at, "count" ) %>
        </div>
      </div>
    </div> 
  </div>
  
