<% provide(:title, 'All users') %>

<h1>All WankyUsers</h1>

<div class="paginate"><%= will_paginate %></div>

<ul class="users">
  <%= render @users %>
</ul>

<div class="paginate"><%= will_paginate %></div>